<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" shutdownHook="disable" >
<!-- trace debug info warn error fatal -->
	<Properties>
        <Property name="LOG_PATTERN">%d{yy-MM-dd HH:mm:ss.SSS} [%t] %-5level %C{1}.%M(%L) : %msg%n</Property>
        <Property name="APP_LOG_ROOT">D:/THY/loyaltyServicesRest</Property>
    </Properties>
    
	<Appenders>
		<Console name="Log2Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout Pattern="${LOG_PATTERN}"/>
		</Console>

<!-- 		<RollingRandomAccessFile name="File-Appender-Info" -->
<!-- 								 fileName="${APP_LOG_ROOT}/log/applog" -->
<!-- 								 filePattern="${APP_LOG_ROOT}/log/applog-%d{yyyy-MM-dd-HH}.log"   -->
<!-- 								 immediateFlush="false"> -->
<!-- 			<PatternLayout Pattern="${LOG_PATTERN}"/> -->
<!-- 			<Policies> -->
<!-- 				<TimeBasedTriggeringPolicy interval="1" modulate="true" /> -->
<!-- 			</Policies> -->
<!-- 		</RollingRandomAccessFile> -->
		
		<RollingRandomAccessFile name="File-Appender-Info"
								 fileName="${APP_LOG_ROOT}/log/INFO"
								 filePattern="${APP_LOG_ROOT}/log/INFO-%d{yyyy-MM-dd-HH}.log" 
								 immediateFlush="false">
			<PatternLayout Pattern="${LOG_PATTERN}"/>
			<LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingRandomAccessFile>

		<RollingRandomAccessFile name="File-Appender-Debug"
								 fileName="${APP_LOG_ROOT}/log/DEBUG"
								 filePattern="${APP_LOG_ROOT}/log/DEBUG-%d{yyyy-MM-dd-HH}.log" 
								 immediateFlush="false">
			<PatternLayout Pattern="%d{yy-MM-dd HH:mm:ss.SSS} [%t] %-5level %C{1}.%M(%L) : %msg%n"/>
			<LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingRandomAccessFile>

		<RollingRandomAccessFile name="File-Appender-Error"
								 fileName="${APP_LOG_ROOT}/log/ERROR"
								 filePattern="${APP_LOG_ROOT}/log/ERROR-%d{yyyy-MM-dd-HH}.log" 
								 immediateFlush="false">
			<PatternLayout Pattern="%d{yy-MM-dd HH:mm:ss.SSS} [%t] %-5level %C{1}.%M(%L) : %msg%n"/>
			<LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingRandomAccessFile>

	</Appenders>

	<Loggers>
		<Root level="debug">
			<appender-ref ref="Log2Console" />
		</Root>

		<AsyncLogger name="AsyncLogger_INFO" includeLocation="true" level="info" additivity="false">
			<appender-ref ref="File-Appender-Info" level="INFO"/>
		</AsyncLogger>

		<AsyncLogger name="org.springframework" includeLocation="true" level="debug" additivity="false">
			<appender-ref ref="File-Appender-Debug" level="DEBUG"/>
		</AsyncLogger>

		<AsyncLogger name="org.springframework" includeLocation="true" level="error" additivity="false">
			<appender-ref ref="File-Appender-Error" level="ERROR"/>
		</AsyncLogger>
	</Loggers>
</Configuration>